html, body, #root {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

.accueil-container {
    margin-left: 270px;
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    background-color: #F5F5F5;
}

.accueil-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.image {
    width: 650px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.accueil-container p {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 40px;
}

.accueil-buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.accueil-buttons button {
    background-color: #162A62;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.3s;
}

.accueil-buttons button:hover {
    background-color: #08122e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accueil-buttons button a {
    color: white;
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin-top: 100px;
}

