
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .connexion-container {
    display: flex;
    height: 100vh; 
  }
.connexion-container h3{
    margin-left: 20px;
    font-family: 'Pacifico',sans-serif;
    color: white;
    padding: 0;
}
#conn{
    font-family: 'Port Lligat Slab';
    text-align: center;
    margin-top: 5px;
}
.connexion-container a{
    color:black;
    font-style:oblique;
}
  .left {
    width: 50%;
    background-color: rgb(97, 141, 178);
    display: flex;
  }
  #desc{
    font-family: 'Port Lligat Slab';
    text-align: center;
    margin-top: 300px;
  }
  .right {
    width: 50%;
    background-color:  #FFFF;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
  }
  input{
    width: 100%;
    padding: 10px;
    margin: 14px 0;
    border-radius: 50px;
    background-color: #D9D9D9;
  }
  .connexion-container button {
    width:70%;
    padding: 10px;
    margin: 35px 0;
    margin-left: 30px;
    background-color: #162A62;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}
.connexion-container button:hover{
  background-color: #08122e;
}
@media screen and (max-width:768px){
    .container{
        flex-direction: column;
        height: auto;
    }
    .left,.right{
        width: 100%;
        padding: 20px;
    }
    .left{
        order:1;
    }
    .right{
        order:2;
    }
}
