.header {
    background-color: rgb(97, 141, 178); 
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
  }
.header h3{
    margin-left: 10px;
    font-family: 'Pacifico',sans-serif;
    color: white;
    padding: 0;
}