
.menu {
  background-color: rgb(97, 141, 178); 
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 90px; 
  left: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.menu li {
  list-style: none;
  padding: 30px 0px;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 15px 0px;
  font-weight: 600;
  font-size: 14px;
  display: block;
}

.menu li a:hover {
  background-color: #D9D9D9;
  width: 200px;
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 180px;
    top: 80px; 
  }

  .menu li a {
    font-size: 12px; 
  }
}

@media screen and (max-width: 768px) {
  .menu {
    width: 50%; 
    top: 70px;  
    padding-top: 10px;
    position: absolute;
    left: 0;
  }

  .menu li a {
    font-size: 14px;
    padding: 10px; 
  }
}

@media screen and (max-width: 480px) {
  .menu {
    width: 20%;
    top: 60px;  
    padding-top: 5px; 
  }

  .menu li {
    padding: 15px 0px; 
  }

  .menu li a {
    font-size: 12px;  
    padding: 8px; 
  }
  .menu li a:hover {
    background-color: #D9D9D9;
    width: 100px;
  }
}
