.password {
    width: 100%;
    max-width: 500px;
    margin: 150px auto 50px;
    padding: 30px;
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .password input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .password button {
    width: 100%;
    padding: 12px;
    background-color: rgb(97, 141, 178);
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .password button:hover {
    background-color: #08122e;
  }
  

  @media (max-width: 768px) {
    .password {
      max-width: 90%;
      margin: 100px auto 40px;
      padding: 25px;
    }
  
    .password input {
      padding: 10px;
      font-size: 0.95rem;
    }
  
    .password button {
      font-size: 1rem;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .password {
      max-width: 95%;
      margin: 80px auto 30px;
      padding: 20px;
    }
  
    .password input {
      padding: 8px;
      font-size: 0.9rem;
    }
  
    .password button {
      font-size: 0.9rem;
      padding: 8px;
    }
  }
  