.dashboard-container {
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 10px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .dashboard-container  h2{
    text-align: start;
  }
  .stats-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .stat-card {
    background: #f3f4f6;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .stat-card h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .stat-card p {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  
  .charts-container {
    display: flex;
    gap: 80px;
  }
  
  .chart {
    flex: 1;
    width: 500px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .pie-chart {
    max-width: 300px;
    margin-top: 100px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
  }